# ignore savefiles
savefiles/*.json

# ignore temporal files
savefiles/*.tmp

# ignore images created during dev
savefiles/images
savefiles/*.jpeg
savefiles/*.jpg
savefiles/*.png
savefiles/*.pdf

# ignore node and puppeteer packages
node_modules

# ingnore composer packages
website/vendor

# keep the configuration .json files
!package-lock.json
!package.json