html {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px #000;
    z-index: 15;
}

ul {
    float: right;
    position: relative;
    right: 10%;
}

ul li {
    display: inline;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0px 0px 0px 20px;
}

#filter_files_type {
    float: left;
    position: absolute;
    right: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 80px
}

.file_filters_label {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15px;
    width: 40px;
    list-style: none;
}

h1 {
    text-transform: uppercase;
    font-size: 48px;
}

p a {
    color: #666;
}

div {
    width: 100%;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 10px #666;
    width: 240px;
    height: 30px;
    background-color: #f2f2f2;
    word-spacing: 4px;
    border-radius: 5px;
}

button {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    color: black;
    box-shadow: 0px 0px 5px;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: grey;
    border-color: grey;
}

input[type="submit"] {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    color: black;
    box-shadow: 0px 0px 5px;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    transition: background-color 0.2s, color 0.2s;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: grey;
    border-color: grey;
}

.copyTableButton {
    margin-top: 5px;
}

#filename {
    display: none;
}

#openFile {
    height: auto;
    background-color: auto;
    color: auto;
    position: auto;
}

.profile {
    margin: auto;
    padding: auto;
    padding-top: 22px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}

table {
    margin: 40px;
    width: 95%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.array_display {
    text-align: left;
    line-height: 140%;
}

#header_space {
    top: 0;
    margin-bottom: 70px;
}

#footer_space {
    bottom: 0;
    margin-top: 40px;
}

.home_inputs {
    word-spacing: 10px;
}

.home_p {
    word-spacing: 5px;
}

.table_container {
    z-index: 10;
}

#deleteAllStopped {
    clear: both;
    width: 25px;
    margin-top: 2px
}

.filesTableCell {
    vertical-align: middle;
}

.deleteFile {
    width: 25px;
}

.deleteFile:hover {
    cursor: pointer;
}

.fileCheckSelector {
    margin: auto;
    width: 30px;
    box-shadow: none;
}

.fileCheckSelector:hover {
    cursor: pointer;
}

.filterCheckbox {
    margin: 0px;
    clear: none;
    width: 30px;
    float: left ;
    box-shadow: none;
}

.filterCheckbox:hover {
    cursor: pointer;
}

#sendSelectedFiles{
    width: initial;
    height: initial;
    position: initial;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5px;
}

#selectedFilesOption {
    margin-right: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.tokenButtonsBox {
    margin: auto;
    margin-top: 20px;
}

.tokenButton {
    font-size: 20px;
    width: 200px;
    height: 90px;
    margin: 10px;
    padding: 5px;
}

.formBlock {
    display: none;
}

#settingsTokenDisplay {
    font-size: 23px;
    text-align: center;
}

#nav_list {
    margin-top: 0px;
}

.stopRobotImg {
    width: 33px;
}

#showScrapings_table {
    margin-top: 20px;
}

#showScrapings_table td {
    vertical-align: middle;
}

#createCsvFilesButton {
    margin-left: 40px;
    animation-duration: 0.7s;
}

#createCsvFilesButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#createCsvFilesButton:active {
    background-color: grey;
    border-color: grey;
}

@keyframes appear {
    0% {background-color: white; color: black; width: 200px; height: 50px}
    50% {background-color: black; color: white; width: 220px; height: 60px}
    100% {background-color: white; color: black; width: 200px; height: 50px}  
}